@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.table-buttons {
  @apply flex-1 bg-zinc-900 hover:bg-zinc-950 text-neutral-200 text-center rounded-lg text-2xl py-4 flex flex-col;
}

.table-icons {
  @apply m-auto text-neutral-200;
}

.Link {
  @apply flex items-center;
}

.form-button {
  @apply bg-zinc-900 hover:bg-zinc-950 text-neutral-200 text-center rounded-md py-1 px-2;
}