@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.table-buttons {
  @apply flex-1 bg-zinc-900 hover:cursor-pointer hover:bg-zinc-950 text-neutral-200 text-center rounded-lg text-2xl py-4 flex flex-col;
}

.table-icons {
  @apply m-auto text-neutral-200;
}

.Link {
  @apply flex items-center;
}

.success-banner {
  @apply p-2 bg-green-600 text-neutral-200 rounded-md;
}

.error-banner {
  @apply p-2 bg-red-600 text-neutral-200 rounded-md;
}

.form-button {
  @apply bg-zinc-900 hover:cursor-pointer hover:bg-zinc-950 text-neutral-200 text-center rounded-md py-1 px-2;
}

.form-text {
  @apply rounded-md py-1 px-2 bg-[#353535];
}

.form-card {
  @apply bg-[#202020] rounded-lg gap-4 p-4 justify-center;
}

